.newContainer {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    justify-content: space-around;
}
.mapContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 2px;
    
}

.mapDir {
    display: flex;
     
     align-items: center;
     top: 1px;
}

.mapDirText {
    color: rgb(66, 66, 66);
}

@media only screen and (max-width: 600px) {
    .newContainer {
        display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    }
    .mapContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        border-radius: 2px;
        margin-top: 1rem;
    }
}